Repository localstack/docs, changes with the owners that CODEOWNERS names for each.
All owners: @HarshCasper, @alexrashed, @lakkeger, @simonrw, @joe4dev, @dfangl, @viren-nadkarni, @silv-io, @pinzon, @bentsku, @cloutierMat, @pandomic, @dominikschubert, @Morijarti, @giograno, @steffyP, @sannya-singal, @macnev2013, @thrau, @maxhoheiser, @ackdav, @lukqw, @MEPalma, @baermat

CODEOWNERS:

######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @HarshCasper @alexrashed

# CI
/content/en/user-guide/ci/ @lakkeger

# pulumi
/content/en/user-guide/integrations/pulumi/ @lakkeger

# terraform
/content/en/user-guide/integrations/terraform/ @lakkeger

# network troubleshooting guide
/content/en/references/network-troubleshooting @simonrw @joe4dev @dfangl

# DNS server
/content/en/user-guide/tools/dns-server @simonrw @joe4dev @dfangl

# chaos engineering
/content/en/user-guide/chaos-engineering/ @viren-nadkarni

######################
### SERVICE OWNERS ###
######################

# account
/content/en/user-guide/aws/account/ @silv-io

# acm
/content/en/user-guide/aws/acm/ @alexrashed

# amplify
/content/en/user-guide/aws/amplify/ @pinzon

# apigateway
/content/en/user-guide/aws/apigateway/ @bentsku @cloutierMat

# appconfig
/content/en/user-guide/aws/appconfig/ @pandomic

# appsync
/content/en/user-guide/aws/appsync/ @simonrw @joe4dev

# athena
/content/en/user-guide/aws/athena/ @alexrashed

# autoscaling
/content/en/user-guide/aws/autoscaling/ @viren-nadkarni

# batch
/content/en/user-guide/aws/batch/ @pinzon @simonrw

# ce
/content/en/user-guide/aws/ce/ @silv-io

# cloudformation
/content/en/user-guide/aws/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti

# cloudfront
/content/en/user-guide/aws/cloudfront/ @giograno

# cloudtrail
/content/en/user-guide/aws/cloudtrail/ @steffyP

# cloudwatch
/content/en/user-guide/aws/cloudwatch/ @steffyP @pinzon

# codecommit
/content/en/user-guide/aws/codecommit/ @silv-io

# dms
/content/en/user-guide/aws/dms/ @steffyP @sannya-singal @cloutierMat @bentsku

# dynamodb
/content/en/user-guide/aws/dynamodb/ @viren-nadkarni @giograno

# ec2
/content/en/user-guide/aws/ec2/ @viren-nadkarni @macnev2013

# ecr
/content/en/user-guide/aws/ecr/ @dfangl

# ecs
/content/en/user-guide/aws/ecs/ @simonrw @dominikschubert @pinzon

# efs
/content/en/user-guide/aws/efs/ @pinzon

# eks
/content/en/user-guide/aws/eks/ @dfangl

# elasticache
/content/en/user-guide/aws/elasticache/ @thrau @giograno @silv-io

# elb
/content/en/user-guide/aws/elb/ @simonrw

# es
/content/en/user-guide/aws/es/ @alexrashed @silv-io

# events
/content/en/user-guide/aws/events/ @maxhoheiser @Morijarti @joe4dev

# firehose
/content/en/user-guide/aws/firehose/ @pinzon

# fis
/content/en/user-guide/aws/fis/ @viren-nadkarni

# glacier
/content/en/user-guide/aws/glacier/ @bentsku

# glue
/content/en/user-guide/aws/glue/ @alexrashed @macnev2013

# iam
/content/en/user-guide/aws/iam/ @dfangl @pinzon

# iot
/content/en/user-guide/aws/iot/ @viren-nadkarni

# kms
/content/en/user-guide/aws/kms/ @sannya-singal

# lambda
/content/en/user-guide/aws/lambda/ @joe4dev @dominikschubert @dfangl

# logs
/content/en/user-guide/aws/logs/ @steffyP

# managedblockchain
/content/en/user-guide/aws/managedblockchain/ @HarshCasper @pinzon

# memorydb
/content/en/user-guide/aws/memorydb/ @silv-io

# mq
/content/en/user-guide/aws/mq/ @ackdav @giograno

# mwaa
/content/en/user-guide/aws/mwaa/ @viren-nadkarni

# neptune
/content/en/user-guide/aws/neptune/ @cloutierMat

# opensearch
/content/en/user-guide/aws/opensearch/ @alexrashed @silv-io

# pipes
/content/en/user-guide/aws/pipes/ @joe4dev

# qldb
/content/en/user-guide/aws/qldb/ @simonrw

# ram
/content/en/user-guide/aws/ram/ @viren-nadkarni

# rds
/content/en/user-guide/aws/rds/ @steffyP @bentsku

# route53
/content/en/user-guide/aws/route53/ @giograno

# route53resolver
/content/en/user-guide/aws/route53resolver/ @macnev2013 @sannya-singal

# s3
/content/en/user-guide/aws/s3/ @bentsku

# sagemaker
/content/en/user-guide/aws/sagemaker/ @silv-io @lukqw

# scheduler
/content/en/user-guide/aws/scheduler/ @joe4dev

# secretsmanager
/content/en/user-guide/aws/secretsmanager/ @dominikschubert @macnev2013 @MEPalma

# servicediscovery
/content/en/user-guide/aws/servicediscovery/ @dominikschubert

# ses
/content/en/user-guide/aws/ses/ @viren-nadkarni

# sns
/content/en/user-guide/aws/sns/ @bentsku @baermat

# sqs
/content/en/user-guide/aws/sqs/ @thrau @baermat

# ssm
/content/en/user-guide/aws/ssm/ @dominikschubert

# stepfunctions
/content/en/user-guide/aws/stepfunctions/ @MEPalma @joe4dev @dominikschubert

# sts
/content/en/user-guide/aws/sts/ @pinzon @dfangl

# textract
/content/en/user-guide/aws/textract/ @HarshCasper

# timestream
/content/en/user-guide/aws/timestream/ @ackdav

# transcribe
/content/en/user-guide/aws/transcribe/ @sannya-singal @ackdav

# xray
/content/en/user-guide/aws/xray/ @joe4dev

deploy: 53dce2147ae306001393c6eb234f0bb11ad4e4ae
  references/network-troubleshooting/index.html
  sitemap.xml
  tags/index.html
  tags/teams-plan/index.html
  user-guide/state-management/cloud-pods/index.html
Owners: none

upgrade to localstack 3.6
  config.toml
Owners: none

fix app preview
  content/en/user-guide/cloud-sandbox/application-previews/index.md
Owners: none

add note for cloudwatch on configuration
  content/en/references/configuration.md
Owners: none

add supported neptune versions
  content/en/user-guide/aws/neptune/index.md
Owners: @cloutierMat

fix @tinyg210 suggestions
  content/en/user-guide/aws/fis/index.md
  content/en/user-guide/chaos-engineering/chaos-api/index.md
Owners: @viren-nadkarni

add enterprise plan tag on chaos eng dashbaord
  content/en/user-guide/chaos-engineering/web-application-dashboard/index.md
Owners: @viren-nadkarni

improve outage extension notice
  content/en/user-guide/chaos-engineering/outages-extension/index.md
  content/en/user-guide/chaos-engineering/web-application-dashboard/index.md
Owners: @viren-nadkarni

add alias to outages extension tutorial
  content/en/tutorials/simulating-outages/index.md
Owners: none

add alias for fis tutorial
  content/en/user-guide/chaos-engineering/fault-injection-service/index.md
Owners: @viren-nadkarni
