Repository localstack/docs, changes with the owners that CODEOWNERS names for each.
All owners: @HarshCasper, @alexrashed, @lakkeger, @simonrw, @joe4dev, @dfangl, @viren-nadkarni, @silv-io, @pinzon, @bentsku, @cloutierMat, @pandomic, @dominikschubert, @Morijarti, @giograno, @steffyP, @sannya-singal, @macnev2013, @thrau, @maxhoheiser, @ackdav, @lukqw, @MEPalma, @baermat

CODEOWNERS:

######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @HarshCasper @alexrashed

# CI
/content/en/user-guide/ci/ @lakkeger

# pulumi
/content/en/user-guide/integrations/pulumi/ @lakkeger

# terraform
/content/en/user-guide/integrations/terraform/ @lakkeger

# network troubleshooting guide
/content/en/references/network-troubleshooting @simonrw @joe4dev @dfangl

# DNS server
/content/en/user-guide/tools/dns-server @simonrw @joe4dev @dfangl

# chaos engineering
/content/en/user-guide/chaos-engineering/ @viren-nadkarni

######################
### SERVICE OWNERS ###
######################

# account
/content/en/user-guide/aws/account/ @silv-io

# acm
/content/en/user-guide/aws/acm/ @alexrashed

# amplify
/content/en/user-guide/aws/amplify/ @pinzon

# apigateway
/content/en/user-guide/aws/apigateway/ @bentsku @cloutierMat

# appconfig
/content/en/user-guide/aws/appconfig/ @pandomic

# appsync
/content/en/user-guide/aws/appsync/ @simonrw @joe4dev

# athena
/content/en/user-guide/aws/athena/ @alexrashed

# autoscaling
/content/en/user-guide/aws/autoscaling/ @viren-nadkarni

# batch
/content/en/user-guide/aws/batch/ @pinzon @simonrw

# ce
/content/en/user-guide/aws/ce/ @silv-io

# cloudformation
/content/en/user-guide/aws/cloudformation/ @dominikschubert @pinzon @simonrw @Morijarti

# cloudfront
/content/en/user-guide/aws/cloudfront/ @giograno

# cloudtrail
/content/en/user-guide/aws/cloudtrail/ @steffyP

# cloudwatch
/content/en/user-guide/aws/cloudwatch/ @steffyP @pinzon

# codecommit
/content/en/user-guide/aws/codecommit/ @silv-io

# dms
/content/en/user-guide/aws/dms/ @steffyP @sannya-singal @cloutierMat @bentsku

# dynamodb
/content/en/user-guide/aws/dynamodb/ @viren-nadkarni @giograno

# ec2
/content/en/user-guide/aws/ec2/ @viren-nadkarni @macnev2013

# ecr
/content/en/user-guide/aws/ecr/ @dfangl

# ecs
/content/en/user-guide/aws/ecs/ @simonrw @dominikschubert @pinzon

# efs
/content/en/user-guide/aws/efs/ @pinzon

# eks
/content/en/user-guide/aws/eks/ @dfangl

# elasticache
/content/en/user-guide/aws/elasticache/ @thrau @giograno @silv-io

# elb
/content/en/user-guide/aws/elb/ @simonrw

# es
/content/en/user-guide/aws/es/ @alexrashed @silv-io

# events
/content/en/user-guide/aws/events/ @maxhoheiser @Morijarti @joe4dev

# firehose
/content/en/user-guide/aws/firehose/ @pinzon

# fis
/content/en/user-guide/aws/fis/ @viren-nadkarni

# glacier
/content/en/user-guide/aws/glacier/ @bentsku

# glue
/content/en/user-guide/aws/glue/ @alexrashed @macnev2013

# iam
/content/en/user-guide/aws/iam/ @dfangl @pinzon

# iot
/content/en/user-guide/aws/iot/ @viren-nadkarni

# kms
/content/en/user-guide/aws/kms/ @sannya-singal

# lambda
/content/en/user-guide/aws/lambda/ @joe4dev @dominikschubert @dfangl

# logs
/content/en/user-guide/aws/logs/ @steffyP

# managedblockchain
/content/en/user-guide/aws/managedblockchain/ @HarshCasper @pinzon

# memorydb
/content/en/user-guide/aws/memorydb/ @silv-io

# mq
/content/en/user-guide/aws/mq/ @ackdav @giograno

# mwaa
/content/en/user-guide/aws/mwaa/ @viren-nadkarni

# neptune
/content/en/user-guide/aws/neptune/ @cloutierMat

# opensearch
/content/en/user-guide/aws/opensearch/ @alexrashed @silv-io

# pipes
/content/en/user-guide/aws/pipes/ @joe4dev

# qldb
/content/en/user-guide/aws/qldb/ @simonrw

# ram
/content/en/user-guide/aws/ram/ @viren-nadkarni

# rds
/content/en/user-guide/aws/rds/ @steffyP @bentsku

# route53
/content/en/user-guide/aws/route53/ @giograno

# route53resolver
/content/en/user-guide/aws/route53resolver/ @macnev2013 @sannya-singal

# s3
/content/en/user-guide/aws/s3/ @bentsku

# sagemaker
/content/en/user-guide/aws/sagemaker/ @silv-io @lukqw

# scheduler
/content/en/user-guide/aws/scheduler/ @joe4dev

# secretsmanager
/content/en/user-guide/aws/secretsmanager/ @dominikschubert @macnev2013 @MEPalma

# servicediscovery
/content/en/user-guide/aws/servicediscovery/ @dominikschubert

# ses
/content/en/user-guide/aws/ses/ @viren-nadkarni

# sns
/content/en/user-guide/aws/sns/ @bentsku @baermat

# sqs
/content/en/user-guide/aws/sqs/ @thrau @baermat

# ssm
/content/en/user-guide/aws/ssm/ @dominikschubert

# stepfunctions
/content/en/user-guide/aws/stepfunctions/ @MEPalma @joe4dev @dominikschubert

# sts
/content/en/user-guide/aws/sts/ @pinzon @dfangl

# textract
/content/en/user-guide/aws/textract/ @HarshCasper

# timestream
/content/en/user-guide/aws/timestream/ @ackdav

# transcribe
/content/en/user-guide/aws/transcribe/ @sannya-singal @ackdav

# xray
/content/en/user-guide/aws/xray/ @joe4dev

Fix lint
  content/en/tutorials/route-53-failover/index.md
  content/en/tutorials/simulating-outages/index.md
  content/en/user-guide/aws/fis/index.md
  content/en/user-guide/chaos-engineering/_index.md
  content/en/user-guide/chaos-engineering/chaos-api/index.md
  content/en/user-guide/chaos-engineering/fault-injection-service/index.md
Owners: @viren-nadkarni

Nit verbiage add index.md
  content/en/user-guide/tools/transparent-endpoint-injection/index.md
Owners: none

revamp app preview docs
  content/en/user-guide/cloud-sandbox/application-previews/index.md
Owners: none

add basic docs on enterprise image (wip)
  content/en/user-guide/enterprise-guides/enterprise-image/index.md
Owners: none

rename to localstack enterprise
  content/en/user-guide/localstack-enterprise/_index.md
  content/en/user-guide/localstack-enterprise/enterprise-image/index.md
  content/en/user-guide/localstack-enterprise/k8s-operator/index.md
Owners: none

add enterprise plan tag
  content/en/user-guide/localstack-enterprise/enterprise-image/index.md
  content/en/user-guide/localstack-enterprise/k8s-operator/index.md
Owners: none

setup the enterprise docs
  content/en/user-guide/enterprise-guides/_index.md
Owners: none

add docs on k8s operator
  content/en/user-guide/localstack-enterprise/k8s-operator/index.md
Owners: none

add enterprise support docs
  content/en/getting-started/help-and-support/index.md
  content/en/user-guide/localstack-enterprise/enterprise-support/customer-portal.png
  content/en/user-guide/localstack-enterprise/enterprise-support/file-a-support-ticket.png
  content/en/user-guide/localstack-enterprise/enterprise-support/index.md
Owners: none

move sso docs to enterprise docs
  content/en/user-guide/localstack-enterprise/single-sign-on/_index.md
  content/en/user-guide/localstack-enterprise/single-sign-on/additional-information-page.png
  content/en/user-guide/localstack-enterprise/single-sign-on/attribute-mapping.png
  content/en/user-guide/localstack-enterprise/single-sign-on/azure-ad/azure-step-1.png
  content/en/user-guide/localstack-enterprise/single-sign-on/azure-ad/azure-step-2.png
  content/en/user-guide/localstack-enterprise/single-sign-on/azure-ad/azure-step-3.png
  content/en/user-guide/localstack-enterprise/single-sign-on/azure-ad/azure-step-4.png
  content/en/user-guide/localstack-enterprise/single-sign-on/azure-ad/index.md
  content/en/user-guide/localstack-enterprise/single-sign-on/localstack-setting-sso.png
  content/en/user-guide/localstack-enterprise/single-sign-on/oidc-sso.png
  content/en/user-guide/localstack-enterprise/single-sign-on/roles-permissions.png
  content/en/user-guide/localstack-enterprise/single-sign-on/saml-sso.png
Owners: none

move ci analytics to enterprise docs
  content/en/user-guide/localstack-enterprise/ci-analytics/ci-project-runs.png
  content/en/user-guide/localstack-enterprise/ci-analytics/create-new-project.png
  content/en/user-guide/localstack-enterprise/ci-analytics/index.md
  content/en/user-guide/localstack-enterprise/ci-analytics/localstack-ci-run-details.png
  content/en/user-guide/localstack-enterprise/ci-analytics/request-response-traces-test.png
  content/en/user-guide/localstack-enterprise/ci-analytics/request-response-traces.png
Owners: none

format the docs
  content/en/user-guide/localstack-enterprise/enterprise-image/index.md
  content/en/user-guide/localstack-enterprise/enterprise-support/index.md
  content/en/user-guide/localstack-enterprise/k8s-operator/index.md
Owners: none

make the transparent endpoint injection doc sentence readable (#1396)
  content/en/user-guide/tools/transparent-endpoint-injection/index.md
Owners: none

deploy: dcf47af7c067aad13e4ca02ac688bd0cf9a2389a
  references/network-troubleshooting/index.html
  sitemap.xml
  tags/index.html
  tags/pro-image/index.html
  user-guide/tools/transparent-endpoint-injection/index.html
Owners: none

add note label
  content/en/user-guide/aws/ecs/index.md
Owners: @simonrw, @dominikschubert, @pinzon

add basic docs on firelens
  content/en/user-guide/aws/ecs/index.md
Owners: @simonrw, @dominikschubert, @pinzon

fix lint
  content/en/user-guide/aws/ecs/index.md
Owners: @simonrw, @dominikschubert, @pinzon

small refactor
  content/en/references/init-hooks.md
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/index.md
Owners: none

fix spaces
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/index.md
Owners: none

correct link title
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/index.md
Owners: none

correct link title & tflocal name
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/index.md
Owners: none

adjust link placement
  content/en/user-guide/ci/gitlab-ci/index.md
Owners: @lakkeger

Fix endpoint url correctly for DynamoDB TTL
  content/en/user-guide/aws/dynamodb/index.md
Owners: @viren-nadkarni, @giograno

add basic docs on firelens (#1383)
  content/en/user-guide/aws/ecs/index.md
Owners: @simonrw, @dominikschubert, @pinzon

deploy: 8ff6c00ca28203d11c53b56a15f2b6f7c282d0e9
  categories/index.html
  categories/localstack-pro/index.html
  sitemap.xml
  user-guide/aws/ecs/index.html
Owners: none

Fix endpoint URL for DynamoDB TTL examples (#1398)
  content/en/user-guide/aws/dynamodb/index.md
Owners: @viren-nadkarni, @giograno

deploy: abe922e3e93f9ed8a4954f9478f50e3cbfc57ca6
  references/network-troubleshooting/index.html
  sitemap.xml
  user-guide/aws/dynamodb/index.html
Owners: none

Terraform init hooks tutorial (#1376)
  content/en/references/init-hooks.md
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/architecture-diagram-test.png
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/architecture-diagram.png
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/index.md
  content/en/tutorials/using-terraform-with-testcontainers-and-localstack/terraform-init-hooks.png
Owners: none

Update content/en/user-guide/cloud-sandbox/application-previews/index.md
  content/en/user-guide/cloud-sandbox/application-previews/index.md
Owners: none

change the callout
  content/en/user-guide/cloud-sandbox/_index.md
Owners: none

add note on override url
  content/en/user-guide/cloud-sandbox/_index.md
  content/en/user-guide/cloud-sandbox/application-previews/index.md
Owners: none

revamp app preview docs (#1397)
  content/en/user-guide/cloud-sandbox/_index.md
  content/en/user-guide/cloud-sandbox/application-previews/index.md
Owners: none

deploy: 9f8c0f58c3bc06ec598c8b2989e96f852e912acf
  index.xml
  references/network-troubleshooting/index.html
  sitemap.xml
  user-guide/cloud-sandbox/application-previews/index.html
  user-guide/cloud-sandbox/index.html
  user-guide/cloud-sandbox/index.xml
Owners: none

add example reference to gitlab documentation page (#1377)
  content/en/user-guide/ci/gitlab-ci/index.md
Owners: @lakkeger

deploy: 3f20745c245c24435cbbe1211606596277a3f51b
  references/network-troubleshooting/index.html
  sitemap.xml
  user-guide/ci/gitlab-ci/index.html
Owners: none

add a troubleshoot note for extensions
  content/en/user-guide/extensions/managing-extensions/index.md
Owners: none

add a troubleshoot note for extensions (#1399)
  content/en/user-guide/extensions/managing-extensions/index.md
Owners: none

deploy: 9f8ce404f9bf0493ffdc68aa4c53214c2ce5eabc
  sitemap.xml
  tags/index.html
  tags/pro-image/index.html
  user-guide/extensions/managing-extensions/index.html
Owners: none

add enterprise tag to cloud pods encryption
  content/en/user-guide/state-management/cloud-pods/index.md
Owners: none

add enterprise tag to cloud pods encryption (#1400)
  content/en/user-guide/state-management/cloud-pods/index.md
Owners: none
